NEXT_PUBLIC_GA_MEASUREMENT_ID=G-DP93YH4FRN
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18110902950
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=n5gKCJPT16AcEKbl-btD
RESEND_API_KEY=re_NfDdAV9t_8QKn1ZWdzTjy1m9U8CA4idUr
CONTACT_TO_EMAIL=info@honlapholnapra.hu
CONTACT_FROM_EMAIL=onboarding@resend.dev
